* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #0f172a;
  color: white;
}
.main-container {
  width: 70%;
  margin: auto;
}
.first-container {
  display: flex;
  justify-content: space-between;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.first-container > button {
  background-color: #3b82f6;
  border-radius: 10px;
  padding: 0.8rem;
  color: white;
  border: none;
}
.first-container > button:hover{
    background-color: #2563eb;
}
.second-container {
  border: 1px solid #1e293b;
  border-radius: 10px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
thead{
    color: #94a3b8;
}
tbody{
    background-color: #1e293b;
}
th,
td {
  text-align: left;
  padding: 20px 15px ;
  border-bottom: 2px solid #1e293b;
}
tbody button{
    padding: 10px;
    background-color: transparent;
    border: 1px solid #334155;
    border-radius: 5px;
}
.table-action-button-2{
    margin-left: 10px;
}
.table-action-button-2:hover{
    border-color: red;
    background-color: rgb(255, 0, 0,0.1);
}
.table-action-button-1:hover{
    border-color: green;
    background-color: rgb(0, 255, 0,0.1);
}
tbody > tr:hover{
    background-color: #334155;
}
dialog{
    background-color: #1e293b;
    width: 30%;
    margin: auto;
    border-radius: 20px;
    border: 1px solid #1e293b ;
}
.dialog-first-container{
    width: 90%;
    margin: auto;
    text-align: right;
}
.dialog-first-container > button{
   
   background-color: transparent;
   border: none;
   color: #f1f5f9;
    
    
    
}
.dialog-second-container{
    width: 90%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
}
.container-for-input-fields > div{
     display: flex;
     flex-direction: column;
     color: #94a3b8;
     

}
#title,#author,#pages,#status{
    color: white;
    background-color: #0f172a;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    border: none;
}
.dialog-third-container{
    width: 90%;
    margin: auto;
    text-align: right;
    margin-bottom: 30px;
}
#cancel-button-in-dialogBox{
    color: white;
    background-color: #0f172a;
    padding: 20px;
    border-radius: 10px;
    border: none;
}
#add-button-in-dialogBox{
    color: white;
    background-color: #3b82f6;
    padding: 20px;
    border-radius: 10px;
    border: none;
}
#title:active,#author:active,#pages:active,#status:active{
    border-color: #2563eb;
}

  
